---
---

// Brand color
$tohoku_univ-color: #3E1485;  // (rgb) = (62, 21, 134)
$srl-color: #002060;  // (rgb) = (0, 32, 96)

// Personal color
$dark_green-color: #004322;  // (rgb) = (0, 88, 45)
$black-color: #000000;  // (rgb) = (0, 0, 0)
$white-color: #ffffff;  // (rgb) = (255, 255, 255)
$text-color: #333333;

@import "minima";

// Header
.site-header {
  background-color: $dark_green-color;
  border-top: none;
  // box-shadow: 0px 4px 10px rgba(0, 32, 96, 0.2);

  position: sticky;
  top: 0;
  z-index: 1000;
}
.site-title {
  color: $white-color !important;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
}
.site-nav {
  color: $white-color !important;
  // font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
  .menu-icon > svg path {
    fill: $white-color;
  }
}
.page-link {
  color: $white-color !important;
}

// Overall layout: Horizontal alignment on PC, Vertical alignment on mobile
.profile-layout {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

// Profile (left-sidebar) layout
.profile-sidebar {
  width: 250px;
  flex-shrink: 0;
  text-align: center;
}
.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  // border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid $dark_green-color;
}
.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.profile-bio {
  font-size: 0.9rem;
  color: $black-color;
  margin-bottom: 20px;
  text-align: left;
}
.profile-social-links {
  display: flex;
  flex-direction: column; // vertical: column, horizontal: row
  gap: 10px;
  align-items: center;
}
.social-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none !important;
  color: #666 !important;
  font-size: 0.95rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f0f0f0;
    color: #333 !important;
    text-decoration: underline;
  }

  .icon svg path {
    fill: #666;
  }
}

// Profile (right-content) layout
.profile-content {
  flex-grow: 1;
  min-width: 0;
}

// For mobile
@media (max-width: 800px) {
  .profile-layout {
    flex-direction: column;
  }
  .profile-sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
