---
---

$srl-color: #002060
$text-color: #333333;

@import "minima";

.site-header {
  background-color: $srl-color;
  border-top: none;
}
.site-title, .site-nav .page-link {
  color: #ffffff !important;
}
.site-nav .menu-icon > svg path {
  fill: #ffffff;
}
