---
---

$tohoku-univ-color: #3E1485;  // (rgb) = (62, 21, 134)
$srl-color: #002060  // (rgb) = (0, 32, 96)
$text-color: #333333;

@import "minima";

.site-header {
  background-color: $srl-color;
  border-top: none;
  // box-shadow: 0px 4px 10px rgba(0, 32, 96, 0.2);

  // position: sticky;
  // top: 0;
  // z-index: 1000;
}
.site-title, .site-nav .page-link {
  color: #ffffff !important;
}
// .site-title {
//   font-weight: bold;
//   font-size: 28px;
//   letter-spacing: 2px;
// }
// .site-nav .page-link:hover {
//   // color: #ffcc00 !important;
//   font-weight: bold;
//   text-decoration: underline;
// }
.site-nav .menu-icon > svg path {
  fill: #ffffff;
}
